---
const { title, desc, tech, link, video } = Astro.props;
---

<div class="single-item">
  <h3>{title}</h3>

  {video && (
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src={video}
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  )}

  {link && (
    <a href={link} target="_blank" class="github-link">
      🔗 Ver en GitHub
    </a>
  )}

  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {desc.map(item => <li>{item}</li>)}
    </ul>
  </div>

  <div class="mini-label-white">Technologies & tools</div>
  <div class="chips-container">
    {tech.map(techItem => <div class="single-chip">{techItem}</div>)}
  </div>
</div>

